*.o
*.ko
*.mod.c
*.ko.cmd
simple4.o.ur-safe
Module.symvers
modules.order
modules.order
*.o.cmd
*.mod.o.cmd
.cache.mk
.tmp_versions
simple_driver/app/*
!simple_driver/app/*.c
!simple_driver/app/Makefile
.vscode/
